.header{
  z-index: 999;
}

.header-bg-transparent .main-menu li>a {
  color: #fff;
}

.header.header-bg-transparent .main-menu li>a:hover,
.header-bg-transparent.sticky-bar.stick .main-menu li>a:hover{
  color: #000000;
}

.header.header-bg-transparent .main-menu .sub-menu li a:hover,
.header.header-bg-transparent .main-menu .sub-menu li a.active {
  color: #747759;
}

.header.header-bg-transparent.sticky-bar.stick{
  background-color: #747759;
}

.header .main-menu li a:hover,
.header .main-menu li a.active{
  color: #006d77;
}

.burger-icon {
  top: 38% !important;
}

@media (max-width: 768px) {
  .header-right {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .header .main-header .header-left .header-logo {
    margin-right: 0;
    min-width: 90px;
  }

  .header .main-header .header-right .block-signin .btn.btn-default {
    font-size: 14px;
  }

  .header .main-header .header-left {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .header .main-header .header-right {
    max-width: 195px;
    margin-right: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

.sticky-bar.stick{
  top: -1px;
}